html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fffceb;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.background {
  background-color: #fffceb;
}

.bg-pink {
  background-color: #f78da7 !important;
}

.bg-brown {
  background-color: #cd853f !important;
}

.bg-purple {
  background-color: #8244eb !important;
}

.bottom-filler {
  padding-bottom: 0rem;
}

.close-top-right {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  font-size: 1.3rem;
  color: #888;
  background: transparent;
  border: none;
  cursor: pointer;
}

.close-top-right:hover {
  color: #000;
}

.card-header.position-relative {
  position: relative; /* ensures absolute positioning is based on this */
}

.footer {
  margin-top: 2rem;
  padding-bottom: 2rem;
  font-size: 0.5rem;
}

.signature {
  font-weight: bold;
  font-size: 1rem;
  font-style: normal;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.side-lefts {
  margin-left: 20rem;
}

.side-right {
  margin-left: 18rem;
}

.box-container {
  padding: 0 10rem;
  text-align: left !important;
}

.synonym {
  display: inline;
  color: #0d6efd;
  text-decoration: underline;
  margin: 0.3rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

.spacing-width {
  margin: 1rem;
  padding-left: 8rem;
  text-align: left;
}

.arabic-word-3xs {
  font-size: 0.7rem;
}

.arabic-word-xxs {
  font-size: 1rem;
}

.arabic-word-xs {
  font-size: 1.4rem;
}

.arabic-word-s {
  font-size: 1.6rem;
}

.arabic-word-m {
  font-size: 1.8rem;
}

.arabic-word-l {
  font-size: 1.9rem;
}

.arabic-word-xl {
  font-size: 2.1rem;
}

.arabic-word-xxl {
  font-size: 2.3rem;
}

@media (max-width: 768px) {
  .switch-mobile {
    transform: scale(1.6); /* Aumenta visualmente el tamaño del switch */
    padding-top: 1.2rem; /* Centra mejor el switch */
  }

  .label-mobile {
    font-size: 1.5rem;
  }

  .spacing-width {
    margin: 1rem;
    padding-left: 2rem;
    text-align: left;
  }

  .mobile-input-lg {
    font-size: 2rem !important;
    height: 3.4rem;
    padding: 0.75rem 1rem;
  }

  .form-field {
    padding: 1rem 1rem !important; /* Reduce padding en móviles */
  }

  .bottom-filler {
    padding-bottom: 12rem;
  }

  .inline-text {
    all: unset; /* remove all default styles */
    display: inline;
    cursor: pointer;
    font-size: 1.2rem; /* match surrounding text */
    margin-left: 0.5rem;
    line-height: 1;
    color: #007bff; /* Bootstrap link color */
  }

  .side-left {
    margin-left: 20rem;
  }

  .side-right {
    margin-left: 7rem;
  }

  .box-container {
    padding: 0 2rem;
    text-align: left !important;
  }
}

@media (min-height: 768px) {
  .bottom-filler {
    padding-bottom: 30rem;
  }
}
